button {
    font-size: 0.8rem;
}

.authentication-item-name {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.authentication-item-status {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.successfully-authenticated-icon {
    vertical-align: middle;
    color: green;
    margin-right: 1rem;
}
