<h3>Visualisation Options:</h3>
<div class="row my-2">
    <div class="col col-6 col-md-4 col-lg-6 option">
        <h6>Visualisation Type</h6>
        <div *ngFor="let type of visualisationTypes">
            <input class="visualisation-type-button" type="radio" name="visualisationType" [value]="type" [(ngModel)]="visualisationType" (change)="onVisualisationTypeChange()">
            <span class="visualisation-type-option">{{type.displayName}}</span>    
        </div>
    </div>
    <div class="col col-6 col-md-4 col-lg-6 option">
        <div class="col">
            <h6>Brightness</h6>
            <input type="range" min="1" max="100" [(ngModel)]="brightness" (change)="onBrightnessChange()">
        </div>
    </div>
</div>
