<div class="container-fluid">
    <h1>Spotify Visualiser with Philips Hue</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="container">
                <div class="row my-4">
                    <div class="col">
                        <app-control-panel></app-control-panel>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col">
                        <app-visualisation-options></app-visualisation-options>
                    </div>
                </div>
                <div *ngIf="isHueAuthenticated" class="row my-4">
                    <div class="col">
                        <app-hue-lights></app-hue-lights>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container my-4">
                <app-console></app-console>
            </div>
        </div>
    </div>
</div>